In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)
import re

In [2]:
df1=pd.read_csv("D:/Users/Dell/Documents/PYTHON/resources/Excel _sheets/Bengaluru_House_Data.csv")
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df1.shape

(13320, 9)

In [4]:
d=df1.groupby('area_type')['area_type'].count() #agg('count')

In [5]:
df1.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
df1.dropna(subset=['location','size'],inplace=True)

In [7]:
df1['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [8]:
df1.bath.fillna(0,inplace=True)
df1.balcony.fillna(0,inplace=True)
df1.society.fillna('unknown',inplace=True)

In [9]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,unknown,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,unknown,1200,2.0,1.0,51.00

In [10]:
df1.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [11]:
df1['bhk']=df1['size'].apply(lambda x: int(x.split(" ")[0]))

In [12]:
df1.loc[df1['total_sqft'].str.endswith('Sq. Meter')]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
410,Super built-up Area,Ready To Move,Kengeri,1 BHK,unknown,34.46Sq. Meter,1.0,0.0,18.50,1
775,Built-up Area,Ready To Move,Basavanagara,1 BHK,unknown,1000Sq. Meter,2.0,1.0,93.00,1
1400,Super built-up Area,Ready To Move,Chamrajpet,9 BHK,unknown,716Sq. Meter,9.0,1.0,296.00,9
1712,Plot Area,Ready To Move,Singena Agrahara,3 Bedroom,CoiewSy,1500Sq. Meter,3.0,1.0,95.00,3
1743,Super built-up Area,19-Mar,Hosa Road,3 BHK,Sosisic,142.61Sq. Meter,3.0,1.0,115.00,3
3228,Built-up Area,Ready To Move,Dodda Banaswadi,5 Bedroom,unknown,3040Sq. Meter,5.0,1.0,140.00,5
4113,Super built-up Area,18-Jan,BTM Layout,3 BHK,unknown,167Sq. Meter,3.0,2.0,10.00,3
5631,Super built-up Area,Ready To Move,Thanisandra,3 BHK,Soitya,204Sq. Meter,4.0,2.0,185.00,3
5976,Built-up Area,Ready To Move,1st Phase JP Nagar,1 BHK,Opamaan,78.03Sq. Meter,1.0,1.0,63.00,1
6303,Built-up Area,Ready To Move,JP Nagar,3 BHK,unknown,84.53Sq. Meter,3.0,1.0,69.34,3
6592,Built-up Area,Ready To Move,Langford Town,4 BHK,unknown,697Sq. Meter,4.0,2.0,211.00,4
6953,Super built-up Area,18-Aug,Hosa Road,3 BHK,Sosisic,142.61Sq. Meter,3.0,1.0,109.00,3
7520,Super built-up Area,Ready To Move,Doddaballapur,3 BHK,unknown,1100Sq. Meter,2.0,1.0,48.00,3
9734,Carpet Area,Ready To Move,Yelahanka New Town,1 BHK,KHatsFl,45.06Sq. Meter,2.0,1.0,18.00,1
10491,Super built-up Area,Ready To Move,Rajapura,2 BHK,unknown,86.72Sq. Meter,2.0,2.0,40.00,2
12252,Built-up Area,Ready To Move,Gowdanapalya,5 BHK,unknown,24Sq. Meter,5.0,0.0,75.00,5
12560,Super built-up Area,18-Dec,Hosa Road,3 BHK,Sosisic,142.84Sq. Meter,3.0,1.0,110.00,3

In [16]:
def is_float(x):
    try:
        float(x)
    except:
        return True
    return False

df1.loc[df1['total_sqft'].apply(is_float)]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4.0,0.0,186.000,4
56,Built-up Area,20-Feb,Devanahalli,4 Bedroom,BrereAt,3010 - 3410,0.0,0.0,192.000,4
81,Built-up Area,18-Oct,Hennur Road,4 Bedroom,Gollela,2957 - 3450,0.0,0.0,224.500,4
122,Super built-up Area,18-Mar,Hebbal,4 BHK,SNontle,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,19-Mar,8th Phase JP Nagar,2 BHK,Vaarech,1042 - 1105,2.0,0.0,54.005,2
...,...,...,...,...,...,...,...,...,...,...
12990,Super built-up Area,18-May,Talaghattapura,3 BHK,Sodgere,1804 - 2273,3.0,0.0,122.000,3
13059,Super built-up Area,Ready To Move,Harlur,2 BHK,Shodsir,1200 - 1470,2.0,0.0,72.760,2
13240,Super built-up Area,Ready To Move,Devanahalli,1 BHK,Pardsri,1020 - 1130,0.0,0.0,52.570,1
13265,Super built-up Area,20-Sep,Hoodi,2 BHK,Ranuetz,1133 - 1384,2.0,0.0,59.135,2
13299,Super built-up Area,18-Dec,Whitefield,4 BHK,Prtates,2830 - 2882,5.0,0.0,154.500,4

In [17]:
def con_float(x):
    z=x.split("-")
    try:
        if len(z)==2:
            return (float(x[0])+float(x[1]))/2
        else:
            return float(x)
    except:
        if x.endswith("Sq. Meter"):
            return float(x.split("Sq. Meter")[0])*10.764
        elif x.endswith("Sq. Yards"):
            return float(x.split("Sq. Yards")[0])*9
        elif x.endswith("Acres"):
            return float(x.split("Acres")[0])*43560
        elif x.endswith("Cents"):
            return float(x.split("Cents")[0])*435.56
        elif x.endswith("Perch"):
            return float(x.split("Perch")[0])*272.25
        elif x.endswith("Guntha"):
            return float(x.split("Guntha")[0])*1089
        elif x.endswith("Grounds"):
            return float(x.split("Grounds")[0])*2400
    return x
            
df1['total_sqft']=df1['total_sqft'].apply(con_float)

In [18]:
df1[df1['total_sqft'].apply(is_float)]

Empty DataFrame
Columns: [area_type, availability, location, size, society, total_sqft, bath, balcony, price, bhk]
Index: []

In [19]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,unknown,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,unknown,1200.0,2.0,1.0,51.00,2

In [20]:
df2=df1.copy()

In [21]:
df2['price/sqft']=(df2.price*100000)/df2.total_sqft
df2.head(2)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk,price/sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4,4615.384615

In [27]:
df2.location

AttributeError: 'Series' object has no attribute 'freq'